body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1117;
    color: #c9d1d9;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #161b22;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: #8b949e;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: #58a6ff;
    text-decoration: none;
}

.main-content {
    width: 60%;
    padding: 20px;
}

.main-content h1, .main-content h2 {
    color: #8b949e;
}

.new-repository, .profile-readme {
    background-color: #21262d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.new-repository form, .profile-readme button {
    display: flex;
    flex-direction: column;
}

.new-repository label, .new-repository input, .new-repository div, .new-repository button {
    margin-bottom: 10px;
}

.new-repository input[type="text"] {
    padding: 5px;
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: #c9d1d9;
    border-radius: 6px;
}

.new-repository button {
    padding: 10px;
    background-color: #238636;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.profile-readme ul {
    list-style: none;
    padding: 0;
}

.profile-readme ul li {
    margin-bottom: 5px;
}

.ads {
    width: 20%;
    padding: 20px;
    background-color: #161b22;
}

.ads .ad, .ads .latest-changes {
    background-color: #21262d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.ads .ad button {
    padding: 10px;
    background-color: #238636;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.ads h2, .ads h3 {
    color: #8b949e;
}

.ads ul {
    list-style: none;
    padding: 0;
}
